@theme {
    --color-clifford: #da373d;
    
  }

  #hero {
          background-image: url('./images/collegeImg.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  }
